@use "../util" as u;
@use "colors" as c;
@use "fonts" as f;
html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-color: gray;
  font-family: f.$font;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
}
.flex {
  display: flex;
  &--jc-c {
    justify-content: center;
  }
  &--jc-sb {
    justify-content: space-between;
  }
  &--jc-s {
    justify-content: start;
  }
  &--ai-c {
    align-items: center;
  }
  &--d-c {
    flex-direction: column;
  }
}
.container {
  margin-inline: auto;
  max-width: u.rem(1440);
  padding-inline: u.rem(15);
  padding-block: u.rem(5);
  @include u.breakpoint-up(large) {
    padding-inline: u.rem(25);
    padding-block: u.rem(10);
  }
}
.active {
  position: relative;
  color: c.$Blue;
  &::after {
    content: "";
    position: absolute;
    background-color: c.$Blue;
    height: u.rem(2);
    left: 0;
    right: 0;
    bottom: u.rem(-3);
  }
}
.hide-for-mobile {
  @include u.breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include u.breakpoint-up(large) {
    display: none;
  }
}
