.hide {
  opacity: 0;
  pointer-events: none;
}
.show {
  opacity: 1;
  pointer-events: visible;
}
.has-fade {
  visibility: hidden;
}
@keyframes fade-right{
  from{
      visibility: hidden;
      left: -100%;
  }
  to{
      visibility: visible;
      left: 0;
  }
}
.fade-right {
  animation: fade-right 200ms ease-in-out forwards;
}

@keyframes fade-left{
  from{
      visibility: visible;
      left: 0;
  }

  to{
      visibility: hidden;
      left: -100%;
  }
}
.fade-left {
  animation: fade-left 200ms ease-in-out forwards;
}

