@use "../util" as u;
@use "../global" as g;
.header {
  background-color: white;
  nav {
    position: relative;
  }
  &__menu-icon,
  #menu-icon {
    font-size: u.rem(18);
    color: lightblue;
  }
  &__logo {
    width: u.rem(124);
    height: u.rem(40);
    object-fit: cover;
    @include u.breakpoint-up(medium) {
      width: u.rem(144);
      height: u.rem(50);
    }
    @include u.breakpoint-up(large) {
      width: u.rem(154);
      height: u.rem(60);
    }
  }
  &__links {
    &--dropdown {
      display: inline-block;
      &:hover {
        .header__links--drop-content {
          opacity: 1;
          pointer-events: visible;
        }
      }
    }
    &--dropbtn {
      position: relative;
      display: inline;
      margin-inline: u.rem(16);
      &::before {
        content: "";
        position: absolute;
        background-color: g.$Blue;
        height: u.rem(2);
        left: 0;
        right: 0;
        bottom: u.rem(-3);
        opacity: 0;
        transition: all 200ms ease-in-out;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
    &--drop-content {
      position: absolute;
      top: u.rem(59);
      background-color: g.$VeryLightBlue;
      box-shadow: 0 u.rem(8) u.rem(16) 0 rgba(0, 0, 0, 0.2);
      padding: u.rem(18);
      border-radius: u.rem(5);
      transition: all 300ms ease-in-out;
      a {
        display: block;
        line-height: 1.7;
        font-size: u.rem(16);
        i {
          color: g.$Gray;
          &:hover {
            color: g.$Gray;
          }
        }
      }
    }
  }
  &__media-links {
    a {
      font-size: u.rem(18);
      color: lightblue;
      &:hover {
        color: g.$Blue;
      }
      &:not(:last-child) {
        margin-right: u.rem(10);
      }
    }
    @include u.breakpoint-up(medium) {
      a {
        &:not(:last-child) {
          margin-right: u.rem(18);
        }
      }
    }
  }
  &__menu {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    width: 100%;
    &--top-container {
      border-bottom: u.rem(0.5) solid #f0f0f0;
    }
    &--top {
      display: flex;
      align-items: center;
      &--icon {
        flex: u.rem(18);
      }
      &--logo {
        flex: auto;
      }
    }
    &--middle-container {
      margin-top: u.rem(35);
    }
    &--middle {
      text-align: center;
      &--links {
        position: relative;
        margin-top: u.rem(15);
        margin-bottom: u.rem(50);
        &::before {
          content: "";
          position: absolute;
          height: u.rem(0.5);
          background-color: #f0f0f0;
          width: 80%;
          left: 50%;
          transform: translateX(-50%);
          bottom: -25px;
        }
        a {
          color: #7f8082;
          font-size: u.rem(14);
          &:not(:last-child) {
            margin-right: u.rem(15);
          }
        }
        i {
          color: #5b6976;
          font-size: u.rem(18);
        }
      }
    }
  }
}
